{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block head %}
{% load django_bootstrap5 %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


<div class="container">
  <div class="row align-items-start">
    <div class="col">
    </div>
    <div class="col" style="margin-top: 2.5cm;" align="center">
      <div class="card-body text-light bgr" style="border-radius: 10px; width: 18rem;">
        <h3>เข้าสู่ระบบ </h3>
      </div>
      <div style="margin-top: 1cm;">
        <form method="POST" novalidate>
          {% csrf_token %}
          <input class="form-control" placeholder="ชื่อผู้ใช้" {{ form.username }} <br>
          <input class="form-control" type="password" placeholder="รหัสผ่าน" {{ form.password }} <br>
          <div align="center">
            <button class="btn btn-primary" style="font-size: 1.1vw;" type="submit">เข้าสู่ระบบ</button>
          </div>
        </form>
        <br>
        <a href="/register">ยังไม่มีบัญชี ลงทะเบียนที่นี่</a>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}