{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% block head %}
{% load django_bootstrap5 %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


<div class="container">
    <div class="row align-items-start">
        <div class="col">
        </div>
        <div class="col" style="margin-top: 1cm;" align="center">
            <div class="card-body text-light bgr" style="border-radius: 10px; height: 4rem; width: 14rem;">
                <h4>โปรไฟล์</h4>
            </div>
            <div style="margin-top: 1cm;">
                {% if user.profile %}
                <img src="{{ user.profile.avatar.url }}" alt="" height="250px">
                {% else %}
                <img src="https://themewagon.github.io/stisla-1/assets/img/avatar/avatar-1.png" alt="" height="250px">
                {% endif %}
                <div class="h5" style="margin-top: 2cm;">
                    ชื่อผุ้ใช้ : {{ user.username}}<br><br>
                    ชื่อ-นามสกุล : {{ user.first_name}} {{ user.last_name }}<br><br>
                    อีเมล : {{ user.email }}
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}